body {
    color: white;
    font-family: 'Fresca', sans-serif;
    background: #1D1D2E;
}

.tasks-card {
    margin-top: 100px;
    padding: 25px 0;
    text-align: center;
    border-radius: 15px;
    background-color: #27293D;
    box-shadow: 0 0.5rem 2rem rgba(0,0,0,.05);
}

.tasks-card .card-body h2 {
    font-size: 30px;
}

p.card-separator {
    border-bottom: 1px solid #FE5F55;
    border-radius: 50px;
}

.task-card {
    margin-top: 75px;
    padding: 25px 0;
    text-align: center;
    border-radius: 15px;
    background-color: #27293D;
    box-shadow: 0 0.5rem 2rem rgba(0,0,0,.15);
}

.card-body h1 {
    font-size: 40px;
}

ul.task-list {
    padding: 0;
}

ul.task-list li.task {
    cursor: pointer;
    font-size: 18px;
    list-style: none;
    text-align: left;
    padding: 10px;
    margin-top: 7px;
    border-radius: 10px;
    background: #1D1D2E;
}

ul.task-list li.task span.task-number {
    color: rgb(243,101,91);
}

ul.task-list ul {
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: right;
}

ul.task-list ul li.task-buttons {
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    list-style: none;
    display: inline;
    margin-right: 5px;
    padding: 5px;
    background: #FE5F55;
    border-radius: 5px;
}

form.create-task {
    display: flex;
    text-align: center;
}

form.create-task input.form-text {
    width: 50%;
    margin-right: 5px;
    border-radius: 5px;
    box-shadow: 0 0.5rem 2rem rgba(0,0,0,.25);
}

button.btn-todo {
    padding: 0 10px;
    color: white;
    background: #FE5F55;
    box-shadow: 0 0.5rem 2rem rgba(0,0,0,.25);
}

button.btn-todo:hover {
    background: #FE675D;
    box-shadow: 0 0.5rem 2rem rgba(0,0,0,.50);
}

@media (max-width: 1199.98px) {
    .tasks-card,
    .task-card {
        margin-top: 25px;
    }
}
