body {
    color: white;
    font-family: 'Fresca', sans-serif;
    background-color: #1D1D2E;
}

.tasks-card {
    margin-top: 100px;
    padding: 25px 0;
    text-align: center;
    border-radius: 15px;
    background-color: #27293D;
    box-shadow: 0 0.5rem 2rem rgba(0,0,0,.05);
}

.tasks-card .card-body h2 {
    font-size: 30px;
}

p.card-separator {
    border-bottom: 1px solid #FE5F55;
    border-radius: 50px;
}

.task-card {
    margin-top: 100px;
    padding: 25px 0;
    text-align: center;
    border-radius: 15px;
    background-color: #27293D;
    box-shadow: 0 0.5rem 2rem rgba(0,0,0,.15);
}

.card-body h1 {
    font-size: 45px;
}

ul.task-list {
    padding: 0;
}

ul.task-list li.task {
    cursor: pointer;
    font-size: 18px;
    list-style: none;
    text-align: left;
    padding: 10px;
    margin-top: 7px;
    background: rgb(32,32,50);
    background: linear-gradient(90deg, rgba(32,32,50,1) 0%, rgba(40,40,62,1) 99.9%);
    border-radius: 10px;
}

ul.task-list ul {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: right;
}

ul.task-list ul li.task-buttons {
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    list-style: none;
    display: inline;
    margin-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    background: rgb(243,101,91);
    background: linear-gradient(90deg, rgba(243,101,91,1) 0%, rgba(242,95,84,1) 90%);
    border-radius: 5px;
}

ul.task-list ul li.task-buttons.btn-delete {
    padding-right: 5px;
}

form.create-task {
    display: flex;
    text-align: center;
}

form.create-task input.form-text {
    width: 50%;
    padding: 5px;
    margin-right: 5px;
    border-radius: 5px;
    box-shadow: 0 0.5rem 2rem rgba(0,0,0,.25);
}

button.btn-todo {
    margin-bottom: -2px;
    padding: 5px 10px;
    color: white;
    background: #FE5F55;
    box-shadow: 0 0.5rem 2rem rgba(0,0,0,.25);
}

button.btn-todo:hover {
    background: #FE675D;
    box-shadow: 0 0.5rem 2rem rgba(0,0,0,.50);
}

@media (max-width: 1199.98px) {
    .tasks-card,
    .task-card {
        margin-top: 50px;
    }
}
